@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bahianita|Exo+2:400,700|Permanent+Marker|Shadows+Into+Light&display=swap');

body {
  background-image: linear-gradient(#062206, rgb(26, 80, 42), #29773E, #31864f, #032202);
  font-size: 62.5%;
}

/* header begins here */


header {
  background-image: linear-gradient(65deg,rgba(9, 48, 9, 0.6), rgba(31, 96, 50, 0.7),rgba(41, 119, 62, 0.6), rgba(3, 34, 2, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.transparency {
  background: rgba(20, 70, 35, 0.3);
  width: 100%;
  min-height: 100vh;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headerTitle {
  text-shadow: 1px 1px 10px #fff;
  /* text-decoration: underline; */
  text-transform: uppercase;
  margin: 5rem 0 1rem 0;
  font-size: 8rem;
  margin: 0 auto;
  width: 75%;
  position: absolute;
  top: 30%;
  left: 12%;
  font-weight: 700;
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Shadows Into Light', cursive;
  /* font-family: 'Bahianita', cursive; */
  /* font-family: 'Permanent Marker', cursive;  */
}

.headerD {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 10px #fff;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  bottom: 20%;
  left: 32%;
}

.headerButton {
  box-shadow: 3px 3px 10px #000;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  background-color: white;
  border: 5px solid gray;
  padding: 0.9rem 1.3rem;
  letter-spacing: 1.5px;
  position:absolute;
  font-size: 1.5rem;
  bottom: 10%;
  left: 45%;
}

.headerButton:hover {
  border: 5px solid rgb(158, 156, 156);
  background-color: gray;
  transition: all 0.5s;
  box-shadow: none;
}


/* main starts here  */


main {
  /* background-image: linear-gradient(45deg,#093009, #1F6032, #29773E, #369457, #032202); */
  background-color: rgba(0,0,0,0.1);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 2rem;
}

.intro {
  text-shadow: 1px 1px 10px #fff;
  margin: 3rem 0 3rem 0 ;
  font-size: 4rem;
}

.hover {
  text-shadow: 1px 1px 10px #000;
  font-family: 'Shadows Into Light', cursive;
  color:rgb(187, 163, 30);
  width: 40%;
  font-size: 2rem;
  margin: 0 auto;
  padding: 0.5rem;
}

.topicButtons {
  border: 5px solid gray;
  padding: 0.7rem 1rem;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  margin: 3rem 0.5rem 1rem 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  box-shadow: 3px 3px 10px #000;
  letter-spacing: 1.5px;
}

.topicButtons:hover {
  border: 5px solid rgb(158, 156, 156);
  background-color: gray;
  transition: all 0.5s;
  box-shadow: none;
}

.flex {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto; 
  width: 85%;
}

.space {
  margin-top: 4rem;
  background-image: url(./assets/cork.jpg);
  padding: 2rem 0;
  border: 2rem solid rgb(12, 12, 12);
  box-shadow: 2px 2px 55px rgb(31, 31, 31);
}

.actorSound {
  background-image: url(./assets/danger.jpg);
  background-position: 50% 110%;
  background-size: contain;
  margin-bottom: 1rem;
  text-align: center;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 22%;
}

.actorSound:hover {
  box-shadow: 2px 2px 10px #000;
  background-color: white;
  transition: all 0.5s;
}

.characterBox {
  background-color: rgb(228, 225, 225);
  box-shadow: 2px 2px 10px #000;
  list-style: none;
  cursor: pointer;
  padding: 1rem; 
  position: relative;
}

.characterBox:hover {
  background-color: rgb(179, 177, 177);
  box-shadow: 2px 2px 15px #000;
  transform: scale(1.05);
  transition: all 0.5s;
}

.characterBox:hover .infoBox {
  transition: all 1s;
  display: block;
}

.infoBox {
  padding-bottom: 1rem;
  text-align: left;
  margin: 0 auto;
  display:none;
  width: 90%;
}

.infoBox h2 {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem 0;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 700;
}

.infoBox h3,
.infoBox p {
  margin: 0.3rem 0;
  font-size: 1rem;
  width: 100%;
  line-height: 1.1rem;
}

.infoP {
  flex-direction: column;
  justify-content: left;
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
}

.infoStats {
  font-weight: 700;
}

ul {
  list-style: none;
}

img {
  height: 300px;
  width: 100%;
}

.characterBox:hover .pin {
  display: none;
}

.pin {
  background-color: rgb(34, 19, 116);
  color:rgb(34, 19, 116);
  border: 1px solid rgb(21, 11, 75);
  border-radius: 50%;
  padding: 0.1rem;
  font-family: none;
  position: absolute;
  box-shadow: 1px 1px 10px #000;
  top: 2%;
  left: 47%;
}

.nav {
  margin-top: 6rem;
  font-size: 1.5rem;
}

.nav ul {
  justify-content: space-between;
}

.nav ul a {
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    color:rgb(204, 179, 35);
    letter-spacing: 2px;
}

.nav ul a:hover {
  color: gray;
}

.credits {
  font-size: 1rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 5rem;
  color: #fff;
  font-weight: 400;
}

.copyright {
  background-color: #000;
  text-align: center;
}

.copyright p {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  padding: 2rem 0;
  font-size: 1rem;
  color: white;
  margin: 0;
}


.displayNone,
.betterCallSaulDiv,
.breakingBadDiv,
.endpoint1,
.endpoint2,
.endpoint3 {
  display: none;
}

.scrollUp {
  font-size: 1.1rem;
  margin-top: 2rem;
  text-align: right;
  width: 95%;
  cursor: pointer;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.scrollUp:hover {
  color: yellow;
  text-decoration: underline;
}

/* quote */

.quoteBox {
  width: 60%;
  background-color: rgb(228, 225, 225);
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 10px #000;
}

.quoteBox .quoteTop {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: 'Shadows Into Light', cursive;
  /* text-decoration: underline; */
}

.quoteBox h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.quoteQuestions {
  border: 1px solid black;
  background-color: white;
}

.quizChoices {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.quoteAnswers {
  margin: 2rem auto;
  background-color: yellow;
  padding: 1rem;
  font-weight: 700;
  width: 60%;
  font-size: 1.2rem;
}

.quoteButton {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  margin-top: 0.7rem;
  padding: 0.5rem;
}

.BBDiv {
  width: 30%;
  padding: 1rem;
  background-color: rgb(242, 242, 125);
  margin: 0.5rem;
  box-shadow: 2px 2px 10px #000;
}

.BBDiv2:hover,
.BBDiv:hover {
  transform: rotate(349deg);
}

.BBDiv2 {
  width: 30%;
  padding: 1rem;
  background-color: rgba(187, 233, 241, 0.904);
  margin: 0.5rem;
  box-shadow: 2px 2px 10px #000;
}

.BscDiv {
  width: 40%;
  padding: 2rem 1rem;
  margin: 0.5rem;
  background-color: rgb(223, 223, 223);
  border-radius: 3%;
  box-shadow: 2px 2px 10px #000;
}

.infoEp {
  font-size: 1.6rem;
  font-weight: 700;
  color: red;
  font-family: 'Shadows Into Light', cursive;
  margin: 1rem auto;
}
.infoShow {
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5rem 0;
}

.showTitle {
  font-size: 1.5rem;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 1.4px;
  
}

.BscDiv:hover {
  transform: scale(1.3);
}

.spoilers {
  color: yellow;
  font-size: 1.3rem;
  margin: 1rem 0;
  letter-spacing: 1.2px;
  text-shadow: 2px 2px 8px #000;
}


.deathTitle {
  font-size: 3rem;
  text-decoration: underline;
}

.deathInfo {
  font-size: 1.2rem;
  width: 80%;
  margin: 0.5rem auto;
  text-align: left;
}

.deathInfoT {
  font-size: 2rem;
  margin: 1rem 0;
}

.whoDied {
  text-decoration: underline;
  font-family: 'Shadows Into Light', cursive;
  color: red;
}


.form {
  margin-top: 1rem;
}

.reviewBox {
  background-color: white;
  width: 80%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 2px 2px 20px #000;
}

.reviewComp {
  border: 1px solid #000;
  padding: 3rem;
  overflow-y: scroll;
  max-height: 500px;
}

.reviewTitle {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
}

.reviewSubmit {
  font-family: 'Shadows Into Light', cursive;
  padding: 1rem;
  letter-spacing: 1.2px;
}

.reviewInput {
  padding: 1rem;
  width: 80%;
}

.singleReview {
  padding: 1rem;
  background-color: rgba(173, 216, 230, 0.524);
  border-radius: 10px;
  margin: 0.2rem auto;
  position: relative;
}

.singleReview:hover::before {
  content: 'X';
  position: absolute;
  top: 1rem;
  left: 1rem;
}


.singleReview span {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin: 0.5rem;
}

/* my styles end here  */





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
