body {
  font-size: 62.5%;
  background-image: linear-gradient(#093009, #1F6032, #29773E, #369457, #032202);
}

/* header begins here */


header {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(65deg,#093009, #1F6032, #29773E, #032202);
  padding: 5rem 0;
  margin-bottom: 1rem;
}

.headerTitle {
  font-size: 10rem;
  margin: 5rem 0 1rem 0;
}

.headerD {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.headerButton {
  font-size: 1.5rem;
  padding: 1rem;
}


/* main starts here  */


main {
  background-image: linear-gradient(45deg,#093009, #1F6032, #29773E, #369457, #032202);
  padding: 2rem;
  text-align: center;
}

.intro {
  font-size: 3rem;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto; 
}

.space {
  margin-top: 4rem;
}

.actorSounds {
  padding: 3rem 2rem;
  background-color: gray;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}

.characterBox {
  background-color: white;
  width: 20%;
  /* border-radius: 1rem; */
  padding: 1rem; 
  margin: 0 0.5rem 2rem 0;
  background-color: gray;
  cursor: pointer;
}

.characterBox:hover {
  box-shadow: 2px 2px 15px #000;
  transform: scale(1.05);
  background-color: white;
}

.infoBox {
  width: 80%;
  padding: 1.5rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 90%;
  /* border-radius: 50%; */
}

.copyright {
  background-color: black;
  text-align: center
}

.copyright p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 2rem 0;
}






/* my styles end here  */





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
