a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap');

body {
  background-image: linear-gradient(#093009, #1F6032, #29773E, #369457, #032202);
  font-size: 62.5%;
}

/* header begins here */


header {
  background-image: linear-gradient(65deg,rgba(9, 48, 9, 0.6), rgba(31, 96, 50, 0.7),rgba(41, 119, 62, 0.6), rgba(3, 34, 2, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.transparency {
  background: rgba(31, 96, 50, 0.3);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headerTitle {
  text-shadow: 1px 1px 10px #fff;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 5rem 0 1rem 0;
  font-size: 8rem;
  margin: 0 auto;
  width: 80%;
  position: absolute;
  top: 30%;
  left: 9%;
}

.headerD {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 10px #fff;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 2rem;
  position: absolute;
  bottom: 20%;
  left: 32%;
}

.headerButton {
  border: 2px solid gray;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  padding: 1rem;
  position:absolute;
  bottom: 10%;
  left: 45%;
  text-transform: uppercase;

}

.headerButton:hover {
  border: 2px solid rgb(82, 81, 81);
  background-color: gray;
  transition: all 0.5s;
}


/* main starts here  */


main {
  /* background-image: linear-gradient(45deg,#093009, #1F6032, #29773E, #369457, #032202); */
  background-color: rgba(0,0,0,0.1);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 2rem;
}

.intro {
  text-shadow: 1px 1px 10px #fff;
  margin: 3rem 0 1rem 0 ;
  font-size: 4rem;
}
.hover {
  text-shadow: 1px 1px 10px #fff;
  font-size: 2rem;
  margin: 0;

}

.flex {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto; 
  width: 85%;
}

.space {
  margin-top: 4rem;
  background-image: url(./assets/cork.jpg);
  padding: 2rem 0;
  border: 2rem solid rgb(12, 12, 12);
  box-shadow: 2px 2px 55px rgb(31, 31, 31);
}

.actorSound {
  background-image: url(./assets/danger.jpg);
  background-position: 50% 10%;
  border: 2px solid #000;
  background-size: contain;
  margin-bottom: 1rem;
  text-align: center;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 20%;
}

.actorSound:hover {
  box-shadow: 2px 2px 10px #000;
  background-color: white;
  transition: all 0.5s;
}

.characterBox {
  background-color: rgb(228, 225, 225);
  box-shadow: 2px 2px 10px #000;
  list-style: none;
  cursor: pointer;
  padding: 1rem; 
  position: relative;
}

.characterBox:hover {
  background-color: rgb(179, 177, 177);
  box-shadow: 2px 2px 15px #000;
  transform: scale(1.05);
  transition: all 0.5s;
}

.characterBox:hover .infoBox {
  transition: all 1s;
  display: block;
}

.infoBox {
  padding-bottom: 1rem;
  text-align: left;
  margin: 0 auto;
  display:none;
  width: 90%;
}

.infoBox h2 {
  text-align: center;
  font-size: 1.3rem;
}

.infoBox h3,
.infoBox p {
  margin: 0.1rem 0;
  font-size: 1rem;
  width: 100%;
}

.infoP {
  flex-direction: column;
  justify-content: left;
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
}

.infoStats {
  font-weight: 700;
}

ul {
  list-style: none;
}

img {
  height: 300px;
  width: 100%;
}

.characterBox:hover .pin {
  display: none;
}

.pin {
  background-color: rgb(197, 1, 1);
  color:rgb(197, 1, 1);
  border: 1px solid rgb(173, 1, 1);
  border-radius: 50%;
  padding: 0.1rem;
  font-family: none;
  position: absolute;
  box-shadow: 1px 1px 10px #000;
  top: 2%;
  left: 47%;
}

.credits {
  font-size: 1rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 6rem;
  color: #fff;
  font-weight: 400;
}

.copyright {
  background-color: #000;
  text-align: center;
}

.copyright p {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  padding: 2rem 0;
  font-size: 1rem;
  color: white;
  margin: 0;
}






/* my styles end here  */





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
