@media (max-width: 1400px){
}


@media (max-width: 1260px) {
  .headerD {
    left: 29%;
   }
}

@media (max-width: 1140px) {
   .headerTitle {
      font-size: 7rem;
   }
   .headerD {
      left: 27%;
      bottom: 35%;
   }
   .headerButton {
      bottom: 16%;
   }
}

@media (max-width: 1000px){
   .wrapper {
      width: 90%;
   }
   .headerTitle {
      font-size: 6.5rem;
      width: 80%;
      left: 10%;
   }
   .headerD {
      left: 22%;
   }
}


@media (max-width: 840px) {
   .headerTitle {
      font-size: 5.5rem;
      left: 10%;
   }
   .headerD {
      left: 20%;
      bottom: 34%;
      font-size: 1.8rem;
   }
   .headerButton {
      left: 42%;
      bottom: 16%;

   }
}

@media (max-width: 700px) {
   .headerTitle {
      font-size: 5rem;
      top: 23%;
   }
   .headerD {
      font-size: 1.4rem;
      left: 22%;
   }
   .headerButton {
      left: 41%;

   }
}

@media (max-width: 575px){
   .wrapper {
      width: 95%;
   }
   .headerTitle {
      width: 90%;
      left: 3%;
      top: 22%;

   }
   .headerD {
      left: 18%;
      width: 60%;
   }
   .headerButton {
      left: 35%;
   }
}

@media (max-width: 400px) {
   .headerTitle {
      font-size: 4.5rem;
      top: 20%;
   }
   .headerButton {
      left: 31%;
   }
   .headerD {
      bottom: 32%;
   }
   .headerButton {
      bottom: 12%;
      font-size: 1.3rem;
   }
}

/* @media (max-height: 768px){
   .headerTitle {
      top: 20%;
   }
   .headerD {
      left: 24%;
   }
   .headerButton {
      bottom: 16%;
      left:43%;
   }
}

@media (max-height: 732px) {
   .headerD {
      left: 20%;
   }
   .headerButton {
      left: 33%;
   }
}


@media (max-height: 667px){
   .headerTitle {
      top: 20%;
   }
   .headerD {
      left: 22%;
   }
   .headerButton {
      bottom: 16%;
      left: 33%;
   }
} */
